.wrapper
  section.container-fluid

    .row
      .section-block.col-md-12.textarea
        section
          header
            h2.title
              span.text 支付 / 订单管理

          .col-xs-12.text-right.funcbar
            a.btn.btn-primary.btn-wider(
            href='#/settings'
            ) 信息设置

            a.btn.btn-primary.btn-wider(
            href='#/order'
            ) 订单管理

            include ../user/logout

    .row
      div
      .section-block.col-md-12
        section
          header
            h3.title  订单管理
          .row
            .col-md-6
              button.btn.btn-primary.btn-wider(
              ng-click='filter_current_month()'
              ) 本月
              span &nbsp
              button.btn.btn-primary.btn-wider(
              ng-click="filter_all()"
              ) 所有


    // Section block
    div
    .section-block.col-md-12
    section
      .divtable
        .row.divtable-header
          h5.divtable-cell.col-xs-6.col-sm-5.col-md-5 标题
          h5.divtable-cell.col-xs-0.col-sm-3.col-md-3.text-center 日期
          h5.divtable-cell.col-xs-3.col-sm-2.col-md-2.text-center 金额
          h5.divtable-cell.col-xs-3.col-sm-2.col-md-2.text-center 详情

        .row.divtable-row(ng-repeat="order in orders | filter: dateFilter")
          .divtable-cell.col-xs-6.col-sm-5.col-md-5
            p.text(
            ng-bind="order.subject"
            )

          .divtable-cell.col-xs-0.col-sm-3.col-md-3.text-center
            p.text(ng-bind="order.create_time")

          .divtable-cell.col-xs-3.col-sm-2.col-md-2.text-center
            p.text(ng-bind="order.total_fee / 100")

          .divtable-cell.col-xs-3.col-sm-2.col-md-2.text-center
            a.btn.btn-primary.btn-circle(
            ng-click='current_order_info(order.order_no)'
            )
              i.ico-eye
