.wrapper
  section.container-fluid

    .row
      .section-block.col-md-12.textarea
        section
          header
            h2.title
              span.text 支付 / 信息设置

          .col-xs-12.text-right.funcbar
            a.btn.btn-primary.btn-wider(
            href='#/settings'
            ) 信息设置

            a.btn.btn-primary.btn-wider(
            href='#/order'
            ) 订单管理

            include ../user/logout

    .row
      div
      .section-block.col-md-8.col-md-offset-2.textarea
        section
          header
            h3.title 支付宝商户信息
          form(
          name="form"
          novalidate
          )
            fieldset.form-group
              label partner ID
              input.form-control(
              type="number"
              name="partner"
              ng-model="settings.partner"
              placeholder="partner"
              required=""
              )
              div(
              ng-show="form.$submitted || form.partner.$touched"
              )
                .error(ng-show="form.partner.$error.required")
                  i.ico-x.errorico
                  span.text Required!
            fieldset.form-group
              label key
              input.form-control(
              type="text"
              name="key"
              ng-model="settings.key"
              placeholder="key"
              required=""
              )
              div(
              ng-show="form.$submitted || form.key.$touched"
              )
                .error(ng-show="form.key.$error.required")
                  i.ico-x.errorico
                  span.text Required!
            fieldset.form-group
              label seller_email
              input.form-control(
              type="email"
              name="seller_email"
              ng-model="settings.seller_email"
              placeholder="seller_email"
              required
              )
              div(
              ng-show="form.$submitted || form.seller_email.$touched"
              )
                .error(ng-show="form.seller_email.$error.required")
                  i.ico-x.errorico
                  span.text Required!

            fieldset.form-group
              label shop_name
              input.form-control(
              type="text"
              name="shop_name"
              ng-model="settings.shop_name"
              placeholder="shop_name"
              )
            fieldset.form-group
              label shop_logo
              input.form-control(
              type="url"
              name="shop_logo"
              ng-model="settings.shop_logo"
              placeholder="shop_logo"
              )
          footer
            button.btn.btn-primary.btn-wider(
            ng-click="update_settings()"
            )
              | 确认
