section.checkout
  .container
    form.row
      fieldset.form-group
        .col-md-12.col-sm-12.col-xs-12
        img(src="{{ shop_logo }}")
      fieldset.form-group
        .col-md-12.col-sm-12.col-xs-12
          h1 {{ shop_name }}
    form.row
      fieldset.form-group
        .col-md-3.col-sm-3.col-xs-3
          label 商品:
        .col-md-9.col-sm-9.col-xs-9
          p {{ order.subject }}
      fieldset.form-group
        .col-md-3.col-sm-3.col-xs-3
          label 描述:
        .col-md-9.col-sm-9.col-xs-9
          p {{ order.body }}
      fieldset.form-group
        .col-md-3.col-sm-3.col-xs-3
          label 单价:
        .col-md-9.col-sm-9.col-xs-9
          b ￥ {{ order.price / 100 }}
      fieldset.form-group
        .col-md-3.col-sm-3.col-xs-3
          label 数量:
        .col-md-9.col-sm-9.col-xs-9
          input.form-control(
          type="number"
          step="1"
          min="1"
          ng-model="order.amount"
          placeholder="数量"
          )
    form.row
      fieldset.form-group
        .col-md-3.col-sm-3.col-xs-3
          label 收货人 :
        .col-md-9.col-sm-9.col-xs-9
          input.form-control(ng-model="order.express.receive_name")
      fieldset.form-group
        .col-md-3.col-sm-3.col-xs-3
          label 联系电话:
        .col-md-9.col-sm-9.col-xs-9
          input.form-control(ng-model="order.express.receive_tel")
      fieldset.form-group
        .col-md-3.col-sm-3.col-xs-3
          label 配送地址:
        .col-md-9.col-sm-9.col-xs-9
          textarea.form-control(rows="3" ng-model="order.express.receive_address")
    form.row
      fieldset.form-group
        .col-md-3.col-sm-3.col-xs-3
          label 总价:
        .col-md-9.col-sm-9.col-xs-9
          b ￥ {{ order.price * order.amount / 100 }}
    form.row
      fieldset.form-group
        .col-md-6.col-sm-6.col-xs-6.text-center
          button.btn.btn-default.btn-wider(ng-click='cancel_order()') 取消
        .col-md-6.col-sm-6.col-xs-6.text-center
          button.btn.btn-primary.btn-wider(ng-click='submit_order()') 支付宝支付
      fieldset.form-group
        .col-md-12
          a(ng-model="showInfo" ng-click="showInfo = !showInfo") 其他详情
            span.caret
      fieldset.form-group(ng-show="showInfo" ng-repeat="item in order.extra")
          .col-md-3.col-sm-3.col-xs-3
            label {{ item.display }}:
          .col-md-9.col-sm-9.col-xs-9
            | {{ item.value }}